DataImport_HotAir/CONFDB.Website/App_WebReferences/au/com/redbackconferencing/ws/emailtemplate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webservices.redbackconferenceing.com.au/emailservices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://webservices.redbackconferenceing.com.au/emailservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides services for send templated email notificiations.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservices.redbackconferenceing.com.au/emailservices">
      <s:element name="GetEmailTemplateInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WholesalerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmailTemplateInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmailTemplateInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailByModeratorID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WholesalerID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ModeratorID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TemplateName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PriCustomerNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SendToContact" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SendToModerator" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IncludeAttachment" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RecordingID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailByModeratorIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailByModeratorIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailByCustomerID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WholesalerID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TemplateName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PriCustomerNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SendToContact" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SendToModerator" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IncludeAttachment" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailByCustomerIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailByCustomerIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEmailTemplateInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmailTemplateInfo" />
  </wsdl:message>
  <wsdl:message name="GetEmailTemplateInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmailTemplateInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailByModeratorIDSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmailByModeratorID" />
  </wsdl:message>
  <wsdl:message name="SendEmailByModeratorIDSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailByModeratorIDResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailByCustomerIDSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmailByCustomerID" />
  </wsdl:message>
  <wsdl:message name="SendEmailByCustomerIDSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailByCustomerIDResponse" />
  </wsdl:message>
  <wsdl:portType name="EmailTemplateUtilSoap">
    <wsdl:operation name="GetEmailTemplateInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of email templates defined for the wholesaler.</wsdl:documentation>
      <wsdl:input message="tns:GetEmailTemplateInfoSoapIn" />
      <wsdl:output message="tns:GetEmailTemplateInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailByModeratorID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends an email designed for a moderator. Optionally, it can be sent to others using the parameters.</wsdl:documentation>
      <wsdl:input message="tns:SendEmailByModeratorIDSoapIn" />
      <wsdl:output message="tns:SendEmailByModeratorIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailByCustomerID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends an email designed for a customer. Optionally, it can be sent to others using the parameters.</wsdl:documentation>
      <wsdl:input message="tns:SendEmailByCustomerIDSoapIn" />
      <wsdl:output message="tns:SendEmailByCustomerIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailTemplateUtilSoap" type="tns:EmailTemplateUtilSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmailTemplateInfo">
      <soap:operation soapAction="http://webservices.redbackconferenceing.com.au/emailservices/GetEmailTemplateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailByModeratorID">
      <soap:operation soapAction="http://webservices.redbackconferenceing.com.au/emailservices/SendEmailByModeratorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailByCustomerID">
      <soap:operation soapAction="http://webservices.redbackconferenceing.com.au/emailservices/SendEmailByCustomerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailTemplateUtilSoap12" type="tns:EmailTemplateUtilSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmailTemplateInfo">
      <soap12:operation soapAction="http://webservices.redbackconferenceing.com.au/emailservices/GetEmailTemplateInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailByModeratorID">
      <soap12:operation soapAction="http://webservices.redbackconferenceing.com.au/emailservices/SendEmailByModeratorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailByCustomerID">
      <soap12:operation soapAction="http://webservices.redbackconferenceing.com.au/emailservices/SendEmailByCustomerID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailTemplateUtil">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides services for send templated email notificiations.</wsdl:documentation>
    <wsdl:port name="EmailTemplateUtilSoap" binding="tns:EmailTemplateUtilSoap">
      <soap:address location="http://ws.redbackconferencing.com.au/emailtemplate.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailTemplateUtilSoap12" binding="tns:EmailTemplateUtilSoap12">
      <soap12:address location="http://ws.redbackconferencing.com.au/emailtemplate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>